@import url('https://fonts.cdnfonts.com/css/public-pixel');
@import url('https://fonts.cdnfonts.com/css/nintendo-ds-bios');
@import url('https://fonts.cdnfonts.com/css/xbox-original');
@import url('https://fonts.cdnfonts.com/css/playstation');

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(208, 0, 173);
    color: rgb(255, 255, 255);
    text-align: center;
    position: fixed;
    height: 40px;
    font-family: 'Public Pixel', sans-serif;  
  }

.page {
    background-color: black;
    font-family: 'Public Pixel', sans-serif;                       
    color: white;
}

.pagenin {
    background-color: #FFFFFF;
    font-family: 'Nintendo DS BIOS', sans-serif;
    color: #e4000f;
}

.pagexbox{
    background-color: black;
    font-family: 'XBOX Original', sans-serif;
    color: #0e7a0d;                                             
}

.pageplay{
    background-color: white;
    font-family: 'PlayStation', sans-serif;
    color: #1e5ddb;
}